// add your all other env keys here
# Azure Strorage env key
AZURE_STORAGE_CONNECTION_STRING=""

# Azure OpenAI Config
AZURE_OPENAI_API_KEY=""

# Azure OpenAI Endpoint
AZURE_OPENAI_ENDPOINT=""

# Azure OpenAI Version
AzURE_OPENAI_VERSION=""

# Azure OpenAI Deployment
AZURE_OPENAI_DEPLOYMENT=""

# Add Embedding Model Config
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""

# Azure AI Search --Knowledge Base config
AZURE_SEARCH_ENDPOINT=""
AZURE_SEARCH_API_KEY=""
AZURE_SEARCH_INDEX_NAME=""

# AZURE VIDEO INDEXER CONFIG
AZURE_VI_NAME=""
AZURE_VI_LOCATION=""
AZURE_VI_ACCOUNT_ID=""
AZURE_SUBSCRIPTION_ID=""
AZURE_RESOURCE_GROUP=""

# AZURE MONITOR CONFIG
APPLICATION_INSIGHTS_CONNECTION_STRING=""

# LANGSMITH TRACING CONFIG
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=""
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT_NAME=""